<div class="row-fluid box-title">
	<div class="span12 manage-courses-header">
		<h3 style="margin: 0;">Manage My Courses</h3>
	</div>
</div>

<div class="row-fluid"s>
	<div class="span12">
		<ul class="nav nav-tabs manage-course-tabs">
			<li><a href="#/courses"><i class="icon-th-large"></i> List</a></li>
			<li class="active"><a href="#/courses/join"><i class="icon-pushpin"></i> Join Existing</a></li>
			<li><a href="#/courses/create"><i class="icon-plus"></i> Create</a></li>
		</ul>

		<h4 style="margin: 15px 0 15px 0;">Join an existing course below</h4>
		
		<form class="form-horizontal create-form">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="courseCodeInput">Select a Course&#40;s&#41;</label>
					<div class="controls">
						<select
							ng-model="selectedCourses"
							ng-options="c as c.name for c in coursePage.courses"
							multiple="multiple"
							style="height: 300px;">
						</select>
						<p class="help-block">Courses that already exist in the system.</p>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-success" ng-click="joinMultiple()">Join Selected</button>
					<button class="btn" ng-click="cancel()">Cancel</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>